<div>
	<mat-toolbar color="primary">

		<button mat-button [matMenuTriggerFor]="menu">Options</button>

		<mat-menu #menu="matMenu">
			<button mat-menu-item [matMenuTriggerFor]="levels">Levels</button>
		</mat-menu>

		<mat-menu #levels="matMenu">
			<button mat-menu-item (click)="easyLevel()">Easy</button>
			<button mat-menu-item (click)="mediumLevel()">Medium</button>
			<button mat-menu-item (click)="hardLevel()">Hard</button>
			<button mat-menu-item (click)="openCustomizeDialog()">Custom</button>
		</mat-menu>

	</mat-toolbar>
</div>

<br>

<div class="container">
	<label class="title">{{level}}</label>
</div>

<board [board]="board"></board>